<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="webpages:Version"
				 value="3.0.0.0"/>
		<add key="webpages:Enabled"
				 value="false"/>
		<add key="ClientValidationEnabled"
				 value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled"
				 value="true"/>
		<add key="WebRequestTimeout"
				 value="20000"/>
	</appSettings>
	<system.web>
		<compilation debug="true"
								 targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5"
								 enableVersionHeader="false" />
		<globalization fileEncoding="utf-8"
									 requestEncoding="utf-8"
									 responseEncoding="utf-8"
									 culture="sv-SE"
									 uiCulture="sv-SE"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json"
													culture="neutral"
													publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0"
												 newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers"
													publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0"
												 newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages"
													publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0"
												 newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc"
													publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0"
												 newVersion="5.2.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="true" />
		<handlers>
			<add name="CatchAllHandler"
					 path="*"
					 verb="GET"
					 type="System.Web.Handlers.TransferRequestHandler"
					 preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="X-AspNetMvc-Version" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>